#include "menus.h"
LevelEditorMenu MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&New\aCtrl+N", ID_NEW
		MENUITEM "&Open\aCtrl+O", ID_OPEN
		MENUITEM "&Save\aCtrl+S", ID_SAVE
		MENUITEM "Save &As\aCtrl+Alt+S", ID_SAVEAS
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "&Resize\aCtrl+R", ID_RESIZE
		MENUITEM "&Toggle Insert\aInsert", ID_INSERT
		MENUITEM "&Insert to Head\aHome", ID_HOME
		MENUITEM "Toggle &Camera Lock\aCtrl+L", ID_LOCK
		MENUITEM "Toggle &Player State\aCtrl+B", ID_PLAYER, GRAYED
	END
	POPUP "&Run"
	BEGIN
		MENUITEM "&Toggle State\aF9", ID_RUN
		MENUITEM "T&oggle Sound\aF10", ID_SOUND 
		MENUITEM "Toggle &Paused\aP", ID_PAUSED, GRAYED
		MENUITEM "Toggle &Slowdown\aCtrl+T", ID_SLOW
	END
END
LevelEditorAcc ACCELERATORS
BEGIN
	"N", ID_NEW, CONTROL, VIRTKEY
	"O", ID_OPEN, CONTROL, VIRTKEY
	"S", ID_SAVE, CONTROL, VIRTKEY
	"S", ID_SAVEAS, CONTROL, ALT, VIRTKEY
	"R", ID_RESIZE, CONTROL, VIRTKEY
	"B", ID_PLAYER, CONTROL, VIRTKEY

	VK_INSERT, ID_INSERT, VIRTKEY
	VK_HOME, ID_HOME, VIRTKEY
	"L", ID_LOCK, CONTROL, VIRTKEY

	VK_F9, ID_RUN, VIRTKEY
	VK_F10, ID_SOUND, VIRTKEY
	/*Pause is handled directly*/
	"T", ID_SLOW, CONTROL, VIRTKEY	
END
ResizeMapDialog DIALOGEX 0, 0, 64, 48
STYLE WS_VISIBLE | WS_SYSMENU
CAPTION "Resize Map"
BEGIN
	LTEXT "Width", ID_STATIC, 8, 6, 32, 12
	LTEXT "Height ", ID_STATIC, 8, 18, 32, 12
	EDITTEXT ID_WIDTH, 40, 4, 16, 12, ES_NUMBER
	EDITTEXT ID_HEIGHT, 40, 16, 16, 12, ES_NUMBER
	DEFPUSHBUTTON "OK", IDOK, 4, 32, 26, 10
	PUSHBUTTON "Cancel", IDCANCEL, 34, 32, 26, 10
END
